<section class="container-fluid">  
  <div class="row">
    <div class="col-sm-12">        
      <div class="card-container"  *ngFor="let profile of this.profiles; let serialNumber = index">
        <div class="card">
            <div class="card-img-top">
                <img class="" onerror="this.style='display:none;'" src="{{profile.basicInfo.profileImage}}" alt="{{profile.basicInfo.profileName}}">
            </div>            
          <div class="card-body">
            <h4 class="card-title">{{profile.basicInfo.profileName}}</h4>
            <h5 class="card-title"><span>{{profile.basicInfo.firstName}}</span> <span>{{profile.basicInfo.lastName}}</span></h5>    
            <!--
            <p class="card-text"><span>{{profile.basicInfo.email}}</span></p>
            -->
            <a routerLink="/profile/{{profile._id}}" class="btn btn-primary"><span>Manage & Print</span>
              <span></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
